//
// @themes theme
// @layout banner
// banner pagina inicial
//
// --------------------------------------------------

#block-views-banner-block {
	@extend .container;
	border: 5px solid palette(red);
	padding-top: 15px;
	position: relative;
	bottom: -5px;

  @include media('screen', '<=small') {
    @include dn(false);
  }
}
