//
// @themes theme
// @layout carousel
//
// --------------------------------------------------

#views_slideshow_cycle_teaser_section_banner-block .control-dots { @include dn; }

.views-slideshow-controls-bottom {
  position: absolute;
  left: 30px;
  bottom: 15px;
  z-index: 99;
}

.views-slideshow-pager-field-item {
  @include fllf;
  margin-right: 10px;
}

.control-dots {
  @extend %transition;
  @include size(15px);
  @include db;
  background-color: palette(red);
  border-radius: $border-radius-circle;
  cursor: pointer;

  &:hover, &:focus { background-color: lighten(palette(red), 20%); }

  .views-slideshow-pager-field-item.active & { background-color: $white; }
}
