//
// @themes theme
// @layout cursos
// estrutura das listgens dos cursos
//
// --------------------------------------------------

// front
// <section>
// ultimos cursos cadastrados
.block-new-classroom-courses {

	&.block {
		@extend .container;
		margin-bottom: 20px;
	}

	& > & { @extend .row; }
}

// front
// destaque
.block-featured-courses {
	&.block {
		padding: 40px 0;
		background-color: $gray-bg;
	}
}

// front
.view-commerce-featured-products .views-row { margin-bottom: 20px; }

// front
// ultimos cursos cadastrados
//.block-new-classroom-courses > .view-content { @extend .col-sm-8; }
.block-new-classroom-courses > .view-content { @extend .col-sm-12; }

// front
// ultimos cadastrados
//.block-new-classroom-courses .views-row { @extend %two-cols; }
.block-new-classroom-courses .views-row { @extend %three-cols; }

//.front .field-name-field-classroom-course-type { padding-left: 20px; }

// button inscricao
.field-name-field-produto {

  // listagem
  @include flrg;
  text-align: right;
}


// front
// destaque
.block-featured-courses > .view-content,
.block-featured-courses > .view-footer { @extend .container; }

// front
// destaque
.block-featured-courses .views-row { @extend %three-cols; }

// front
// destaque
.block-featured-courses {

	> .block-title { @include dn; }

	> .view-footer{

		p { margin-bottom: 0; }

		a {
			@include db;
			width: 140px;
		}
	}

	@include media('screen', '>small') {
		> .view-content {
			position: relative;

			&::before {
				content: '';
				@include db;
				@include size(30.99%, 143px);
				background: url('#{$imgPath}/icon-ead.svg') 0 center no-repeat;
				background-size: auto 100%;
				position: absolute;
				top: -(143px+40px);
				right: 0;
			}
		}
	}
}


// not-front
.view-courses {

  @include media('screen', '<=small') {
    padding-left: 15px;
    padding-right: 15px;
  }

  .views-row {
    @extend %three-cols;

    margin-bottom: 40px;
  }
}

// not-front
.page-taxonomy {

  @include media('screen', '<=small') {
    .block-system {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .node-course {
    @extend %three-cols;

    margin-bottom: 40px;
  }
}
