//
// @themes theme
// @layout footer
//
// --------------------------------------------------

.footer {

  .nav { @include dib; }
}

.wrapper-footer-top { margin-bottom: 60px; }

.footer-main {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: $white;
}

.wrapper-footer-bottom {
	padding-top: 40px;
	padding-bottom: 10px;
	color: $white;
	background-color: palette(blue, dark);

	.region-footer-bottom {
		@extend clearfix;
		@extend .row;
		margin-bottom: 20px;
	}

	.address-footer { @extend .col-sm-5; }
	.payment-methods { @extend .col-sm-7; }
}


.region-footer {
	@include media('screen', '>small') {
		@include flrg(false);
	}
}


// menu institucional
.footer-main > .container > .menu {
  @include media('screen', '<=small') {
    @include dn(false);
  }
}


.address-footer {
	font-size: em(14px);

	.content {
		padding-top: 60px;
		background: url('#{$imgPath}/logo-esa-branca.png') 0 0 no-repeat;
	}
}

.payment-methods {
	.block-title {
		font-size: em(20px);
		margin-bottom: 10px;
	}
}


.nav-infos {
	clear: both;
	border-bottom: 1px solid rgba($white, .7);
	padding-bottom: 10px;
	margin-bottom: 10px;
	position: relative;

	a {
		padding-top: 0 $i;
		padding-bottom: 0 $i;
		font-size: em(12px);
		color: $white;
		text-transform: $ih;
	}
}

p.creditos {
	font-size: em(11px);
	line-height: em(16px, 11px);
	text-align: center;
	color: rgba($white, .7);
	margin-bottom: 0;
}


.dev-logo {
	@include flrg;
	@include media('screen', '<=small') {
		@include centerer(right);
	}

	em { font-style: normal; }

	svg {
		@include size(auto, 18px);
		fill: $white;
	}
}

//#gototop {
//
//}
