//
// @themes theme
// @layout forms
//
// --------------------------------------------------

.form-control { height: 40px; }

legend {
  font-size: em(18px);
  color: palette(blue, x-dark);
}

label { font-size: em(14px); }

.form-radios {
  .form-item {
    @include dib;
    margin-right: 20px;

    &:last-child { margin-right: 0; }
  }

  label { font-size: $in; }
}

.help-block {
  font-size: em(12px);
  color: palette(blue, x-dark);
}

// home
// zerar bootstrap
%zerar-inputtext-bt {
	font-size: $in;
	padding-left: 0;
	padding-right: 0;
	border: 0;
	background-color: $t;
	border-radius: 0;
	box-shadow: $n;
}

// search
#block-views-exp-courses-search-courses {

	.form-text {
		@extend %zerar-inputtext-bt;
		@include transition(all $duration-quickly linear);
		color: palette(blue, x-dark);
		height: 40px;
		border-bottom: 2px solid $white;

		&:focus {
			border-bottom-color: palette(blue);
		}
	}

	.btn {
		@extend %img-rep;
		@include transition(all $duration-quickly linear);
		@include size(40px);
		text-indent: 200%;
		border: 0;
		background: url('#{$imgPathIcon}/icon-search.svg') center no-repeat;
		background-color: $in;
		background-size: auto 55%;

		&:hover, &:focus {
			background-color: $white;
		}
	}
}

// newsletter
.block-simplenews {

	.control-label {
		font-weight: normal;
		color: palette(blue, light);
	}

	.form-text {
		@extend %zerar-inputtext-bt;
		@include transition(all $duration-quickly linear);
		height: 40px;
		color: palette(blue, x-dark);
		border-bottom: 2px solid $white;

		&:focus {
			border-bottom-color: palette(blue);
		}
	}

	.btn {
		@include transition(all $duration-quickly linear);
		height: 40px;
		border: 0;
		background-color: $in;

		&:hover, &:focus {
			background-color: $white;
		}
	}
}
