//
// @themes theme
// @layout fotos
//
// --------------------------------------------------

// front
#block-views-gallery-block {
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;

	> .block-title { margin-bottom: 0; }

	.more-link {
		position: absolute;
		top: 24px;
		right: 0;
	}
}


// not-front
// listagem
.not-front .view-gallery .views-row {
  @extend %three-cols;
  margin-bottom: 40px;
}
