//
// @themes theme
// @layout header
//
// Esta seção é destinada a estrutura do topo do layout, deixando o estilo individual do componente para seu arquivo
//
// - zerar
// --------------------------------------------------

header {

	&.navbar {
		// zerar bootstrap
		border: 0;
		margin-bottom: 20px;
	}

	.navbar-header {
		background-color: palette(blue, dark);
	}

	div.navbar-collapse {

		@include media('screen', '<=small') {
			padding-top: 15px;
			padding-bottom: 15px;
			border: 0;
			background: palette(blue);
		}

		@include media('screen', '>small') {
			margin-left: -15px $i;
			margin-right: -15px $i;
		}
	}

	.region-navigation {
		@extend %clearfix;

		@include media('screen', '>small') {
			border-bottom: 1px solid $white $i;
		}
	}

	.region-navigation-bottom {
		@extend .col-sm-9;

		@include media('screen', '>small') {
			@include flrg(false);
		}
	}
}


.header-top {
	margin-bottom: 20px;

	@include media('screen', '>small') {
		position: relative;

		&::after {
			content: '';
			@include db(false);
			@include size(50%, 1px);
			background-color: $white;
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
}


// navigation primary
#block-menu-menu-institucional {
	@include media('screen', '>small') {
		@include dib(false);
	}
}

// navigation login
//#block-menu-menu-login {
#block-system-user-menu {
	@include media('screen', '>small') {
		@include flrg(false);
	}
}

.logo,
.logo-oabce {
	@include dib;
	width: 85px;

	@include media('screen', '>small') {
		width: 110px;
	}
}

.logo-oabce {
  position: relative;
  top: -7px;
  margin-left: 30px;
}

// form search
#block-views-exp-courses-search-courses {
	@include media('screen', '>small') {
		@include fllf(false);
	}
}

// component cart
#block-commerce-cart-cart {
	@include media('screen', '>small') {
		@include flrg(false);
	}
}
