//
// @themes theme
// @layout login
//
// --------------------------------------------------

// toboggan-unified login
.toboggan-unified {
//  @extend %clearfix;
//  margin: 0 auto;
//  max-width: 700px;
//  padding: 15px;
//  background: $white;
//  border-radius: 5px;

  .login-forgot {
    @include dib;
  }

  .form-actions {
    @include dib;
    @include flrg;
  }

//  @include media('screen', '<=small') {
//    max-width: 92%;
//  }

  @include media('screen', '>small') {
    .form-item-field-scholarity-und,
    .field-name-field-cpf,
    .field-name-field-oab-number,
    .field-name-field-phone,
    .field-name-field-mobile-phone {
      @include fllf(false);
      width: 48.6%;
    }
    .field-name-field-cpf,
    .field-name-field-mobile-phone { margin-left: 15px; }
    .field-name-field-user-address { clear: both; }
  }
}

.toboggan-unified #login-message {
  font-size: em(20px);
  line-height: $line-height-reset;
  font-weight: bold;
  color: palette(blue, x-dark);
  margin-top: 15px;
  margin-bottom: 30px;
}

.toboggan-unified #login-links {
  font-size: em(20px);
  line-height: $line-height-reset;
  margin-bottom: 30px;
}

.toboggan-unified #login-links a {
  @include dib;
  padding: 8px 15px;
  border: 0;
  border-bottom: 2px solid $t;
  margin: 0 10px;
  background-color: $t;
}

.toboggan-unified #login-links a:hover {
  background-color: $t;
  border-bottom-color: $gray-bg;
}

.toboggan-unified #login-links a.lt-active,
.toboggan-unified #login-links a.lt-active:hover {
  color: palette(blue);
  border: 0;
  border-bottom: 2px solid palette(blue);
  background-color: $t;
}

// criar conta

#register-form {
  .field-group-accordion-wrapper,
  .panel {
    clear: both;
    margin-bottom: 30px;
  }
}


