//
// @themes theme
// @layout messages
//
// --------------------------------------------------

.messages {
  @extend .alert;
}

.status {
	@extend .bg-info;
	color: $state-info-text;
}
.warning {
	@extend .bg-warning;
	color: $state-warning-text;
}
.error {
	@extend .bg-danger;
	color: $state-danger-text;
}
