//
// @themes theme
// @layout nav-cursos
// menu de categoria de cursos
//
// --------------------------------------------------

// wrapper
#block-superfish-1 {
	@extend .container;
}

// ul
#superfish-1 {
	@extend %clearfix;
	padding-top: 30px;
	padding-bottom: 30px;

	li {

		@include media('screen', '<=small') {
			float: $in;
		}

		@include media('screen', '>small') {
			margin-left: 30px;

			&:first-child {
				margin-left: 0;
			}

			// solicitar curso
			&:last-child {
				@include flrg(false);
			}
		}
	}

	a {
		@include ttu;
		font-family: $ft1;
		font-size: em(20px);
		color: $white;
		padding: 6px 12px;

		&::before {
			content: '';
			@include db;
			@include transition(all $duration-quickly linear);
			width: 10px;
			height: 3px;
			margin-bottom: 5px;
			background-color: rgba(palette(red), .7);
		}

		&:hover::before, &:focus::before {
			width: 24px;
			background-color: rgba(palette(red), 1);
		}

		// solicitar curso
		&[href="/solicitacao-curso"] {
			color: rgba($white, .8);

			&:hover, &:focus {
				color: rgba($white, 1);
			}
		}
	}
}
