//
// @themes theme
// @layout navigation
//
// - zerar
// --------------------------------------------------

// zerar bootstrap
.nav > li {
	@include media('screen', '>small') {
		@include dib(false);
	}
}

// zerar bootstrap
.nav > li > a {
	padding: 10px 0;

	@include media('screen', '>small') {
		@include dib(false);
		padding: 10px;
	}
}


.dropdown-toggle.nolink {
  @include db;
  cursor: pointer;
}

// [rwd] bt menu
.navbar-default .navbar-toggle {
	border-color: $body-bg;

	&:hover,
	&:focus {
		background-color: palette(blue);
	}
}
.navbar-default .navbar-toggle .icon-bar {
	width: 18px;
	background-color: $body-bg;
}


.region-navigation {

	// linha 15
	a,
  .dropdown-toggle.nolink {
		@extend %link-default;

		@include media('screen', '<=small') {
			color: $white;

      &:hover, &:focus {
        text-decoration: underline;
      }
		}

		@include media('screen', '>small') {
			font-size: em(12px);

      &:hover, &:focus {
        background-color: $white $i;
      }
		}
	}

  .dropdown-toggle.nolink {
    padding: 10px;

    @include media('screen', '<=small') {
      padding-left: 0;
    }
  }
}

// navigation primary
#block-menu-menu-institucional {
	@include media('screen', '<=small') {
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(palette(blue, dark), .2);
		margin-bottom: 10px;
	}
}


// navigation login
#block-system-user-menu {

	// link entrar
	a[href="/user"] {
		padding-left: 16px;
		margin-bottom: 10px;
		background-image: url('#{$imgPathIcon}/icon-login.svg');
		background-repeat: no-repeat;
		background-position: 0 center;
		background-size: auto 16px;

		@include media('screen', '>small') {
			padding-left: 25px;
			margin-bottom: 0;
			background-position: 10px center;
		}
	}
  #my-account-link {
    background: $n;
    padding-left: 0;

    @include media('screen', '>small') {
      padding-left: 10px;
    }
  }

	@include media('screen', '>small') {
		li::after {
				content: '';
				@include dib;
				@include size(24px, 3px);
				margin-bottom: 3px;
				margin-left: 5px;
				background-color: $white;
		}

		li:last-child::after { @include dn; }
	}
}


// footer
.footer-main > .container > .nav {
  @include dib;

  a,
  .dropdown-toggle.nolink {
    @include ttu;
    color: palette(blue, dark);

    &:hover, &:focus { text-decoration: underline $i; }
  }
}
