//
// @themes theme
// @layout noticias
//
// --------------------------------------------------

.view-news,
.view-forum-ideas {
  // pagina de listagem
  .not-front & { @extend .col-sm-8; }

  .views-row { margin-bottom: 20px }

  // date
	.views-field-created { position: relative }

  .views-field-created::before {
		content: '';
		@include size(14px);
		border: 4px solid palette(blue, light);
		background-color: $gray-bg;
		border-radius: $border-radius-circle;
	}
}

// pagina de listagem
.page-noticias,
.page-forum-ideias {

  .views-field-created::before {
    @include dib;
    @include size(12px);
    margin-bottom: -2px;
  }

  .views-field-title { padding-left: 16px }
}


// home
#block-views-news-block {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	border-left: 1px solid palette(blue, light);

	@include media('screen', '>small') {
		padding-left: 30px;
	}

	// date
	.views-field-created::before {
    @include db;
		position: absolute;
		left: -22px;
		top: 0;

		@include media('screen', '>small') {
			left: -37px;
		}
	}

	.views-row-first {
		.views-field-created::before {
			@include size(20px);
			left: -25px;

			@include media('screen', '>small') {
				left: -40px;
			}
		}
	}
}


.view-forum-ideas {
  .view-header,
  .view-filters { margin-bottom: 30px }

  .views-widget-filter-combine,
  .views-submit-button { @extend .col-xs-12; }

  .views-widget-filter-combine {
    @extend .col-md-10;
    margin-bottom: 10px;
  }
  .views-submit-button { @extend .col-md-2; }

  .btn {
    @extend .btn-primary;
    height: 40px;
  }

  @include media('screen', '>small') {
    .btn { margin-left: 15px }

    .views-exposed-widgets {
      display: flex;
      align-items: flex-end;
    }

    .views-widget-filter-combine { margin-bottom: 0 }
  }
}
