//
// @themes theme
// @layout tables
//
// .view-commerce-cart-form - pagina cart (deslogado)
// .view-commerce-cart-summary - pagina cart checkout
//
// --------------------------------------------------

table td, table th {
  color: palette(blue, x-dark);
}

.view-commerce-cart-form,
.view-commerce-cart-summary {

  // table
  tr { border: 0; }
  tr td:last-child { border-right: 0; }

  .table-responsive {
    border-bottom: 2px solid $white;
    margin-bottom: 20px;
  }

  .views-field-line-item-title { font-size: em(16px, 15px); }
  .views-field-commerce-total { font-weight: bold; }
}


.view-commerce-cart-form {

}

.view-commerce-cart-summary {

}
.commerce-price-formatted-components {

  tr { background-color: $t $i; }

  td {
    color: palette(blue);
    font-size: em(20px);
    border-top: 0 $i;
  }
}
