//
// Animations
// --------------------------------------------------

//Animate Mixin Plugin
@mixin animate( $name: fadeIn, $duration: 1s, $delay: 0.2s, $function: ease, $mode: both ) {
  @include experimental( animation, $name $duration $delay $function $mode );
}


@keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY( 0 );
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY( -20px );
  }
}


@keyframes moveDown {
	0% {
		opacity: 0;
		transform: translateY( -100px );
	}
	100% {
		opacity: 1;
		transform: translateY( 0px );
	}
}


@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale( 0.3 );
  }
  50% {
    opacity: 1;
    transform: scale( 1.05 );
  }
  70% {
    transform: scale( 0.9 );
  }
  100% {
    transform: scale( 1 );
  }
}

@keyframes bounceInMod {
  0% {
    opacity: 0;
    transform: scale( 0.3 );
  }
  4% {
    opacity: 1;
    transform: scale( 1.05 );
  }
  5% {
    transform: scale( 0.9 );
  }
  6% {
    transform: scale( 1 );
  }
  100% {
    transform: scale( 1 );
  }
}

@keyframes rotateIn {
  0% {
    transform-origin: center center;
    transform: rotate(-200deg);
//    opacity: 0;
  }
  100% {
    transform-origin: center center;
    transform: rotate(0);
//    opacity: 1;
  }
}
