//
// Functions
// --------------------------------------------------


// Returns unitless number
@function remove-unit($number) {
  $unit: unit($number);
  $one: 1;

  @if $unit == "px" { $one: 1px; }
  @if $unit == "em" { $one: 1em; }
  @if $unit == "%"  { $one: 1%;  }

  @return $number / $one;
}

/// Returns flexible value using `target ÷ context` formula.
/// Returns `em` by default, accepts `%` as format.
/// @group Helpers
/// @author Eduardo Shiota
/// @link https://github.com/eshiota/eshiota_middleman_blog/blob/master/source/stylesheets/base/_functions.scss
@function flex($target, $context: $CONTEXT_FONT_SIZE, $unit: "em") {
  $size: remove-unit($target) / remove-unit($context);

  @if $unit == "" { @return $size; }
  @if $unit == "em" { @return #{$size}em; }
  @if $unit == "%" { @return percentage($size); }
}

/// Alias to `flex` function, using `%` as format.
/// @group Helpers
/// @author Eduardo Shiota
/// @link https://github.com/eshiota/eshiota_middleman_blog/blob/master/source/stylesheets/base/_functions.scss
/// @arg {Number} $target - Width target use
/// @arg {Number} $context - Target block parent
@function perc($target, $context) {
  @return flex($target, $context, "%");
}

/// Alias to `flex` function, using `em` as format.
/// @group Typography
/// @author Eduardo Shiota
/// @link https://github.com/eshiota/eshiota_middleman_blog/blob/master/source/stylesheets/base/_functions.scss
/// @arg {Number} $target - Font size
/// @arg {Number} $context - Use defaut '$CONTEXT_FONT_SIZE' 16px
@function em($target, $context: $CONTEXT_FONT_SIZE) {
  @return flex($target, $context, "em");
}


/// Friendlier colour names with Sass maps
/// for use in other option from 'map-get'
/// @group Colors
/// @author Erskine’s Garrett
/// @link http://www.sitepoint.com/using-sass-maps/
/// @link http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
/// @arg {String} $palette - Item palette color map
/// @arg {String} $tone - Tonality palette color
/// @return {Color} - Color key
/// @example scss
///   .element {
///     background-color: color(sky);
///   }
@function palette($palette, $tone: 'base') {
  @if map-has-key($palettes, $palette) {
    @return map-get(map-get($palettes, $palette), $tone);
  }

  @warn "Unknown `#{$palette}` in $palettes.";
  @return null;
}

