//
// Mixins
// --------------------------------------------------

// Largura e altura
@mixin size( $width, $height: $width ) {
	width: $width;
	height: $height;
}

// Largura e altura com Compass
@mixin image-box( $imageUrl ) {
	width: image-width( $imageUrl );
	height: image-height( $imageUrl );
	background-image: image-url( $imageUrl );
}

// Image Replacement
@mixin img-rep( $imageUrl, $float: left ) {
	@include image-box( $imageUrl );
	float: $float;
	overflow: hidden;
	text-indent: -9999px;
}

// https://css-tricks.com/snippets/sass/centering-mixin/
// coment implementation
@mixin centerer($pos:both) {
	position: absolute;

	@if ($pos==both) {
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);

	} @else if ($pos==top) {
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		transform: translate(-50%, 0);

	} @else if ($pos==left) {
		top: 50%;
		-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);

	} @else if ($pos==right) {
		top: 50%;
		right:0;
		-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);

	} @else if ($pos==bottom) {
		bottom: 0;
		left:50%;
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
	}
}

// http://hugogiraudel.com/2014/03/31/getting-the-most-out-of-sass-placeholders/
// using @extend in media queries
@mixin dn($extend: true) {
  @if $extend { @extend %dn; }
  @else { display: none; }
}

@mixin db($extend: true) {
  @if $extend { @extend %db; }
  @else { display: block; }
}

@mixin dib($extend: true) {
  @if $extend { @extend %dib; }
  @else { display: inline-block; }
}

@mixin fllf( $extend: true ) {
  @if $extend { @extend %fllf; }
  @else { float: left; }
}

@mixin flrg( $extend: true ) {
  @if $extend { @extend %flrg; }
  @else { float: right; }
}

@mixin ttu($extend: true) {
  @if $extend { @extend %ttu; }
  @else { text-transform: uppercase; }
}

// Arrow helper mixin
// ---
// @param [string] $direction: arrow direction
// @param [list] $position: list of offsets and values
// @param [color] $color (inherit): arrow color
// @param [number] $size (1em): arrow size
// *precisa de position absolute
// ---
@mixin triangle($direction, $color: currentColor, $size: 1em) {
  // Make sure the direction is valid
  @if not index(top right bottom left, $direction) {
    @warn "Direction must be one of top, right, bottom or left.";
  }

  @else {
    @include dib;
    @include size(0);
    content: '';
//    z-index: 2;

//    border-#{$direction}: $size * 1.5 solid $color;
    border-#{$direction}: $size solid $color;

    $perpendicular-borders: $size solid transparent;

    @if $direction == top or $direction == bottom {
      border-left:   $perpendicular-borders;
      border-right:  $perpendicular-borders;
    }

    @else if $direction == right or $direction == left {
      border-bottom: $perpendicular-borders;
      border-top:    $perpendicular-borders;
    }
  }
}
