//
// Placeholder
// --------------------------------------------------

/// Helpers placeholder clearfix
/// @group Helpers
%clearfix {
	*zoom: 1;

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after { clear: both; }
}

/* Vertical align anything with just 3 lines of CSS */
// http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
%vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY( -50% );
			-ms-transform: translateY( -50% );
					transform: translateY( -50% );
}


/// Helpers placeholder float:left;
/// @group Helpers
%fllf  { float: left; }
/// Helpers placeholder float:right;
/// @group Helpers
%flrg  { float: right; }
/// Helpers placeholder display:none;
/// @group Helpers
%dn    { display: none; }
/// Helpers placeholder display: block;
/// @group Helpers
%db    { display: block; }
/// Helpers placeholder display: inline-block;
/// @group Helpers
%dib   { display: inline-block; }
/// Helpers placeholder text-transform: uppercase;
/// @group Helpers
%ttu   { text-transform: uppercase; }
/// Helpers placeholder margin-left: 0;
/// @group Helpers
%mrlf  { margin-left: 0; }
/// Helpers placeholder margin-bottom: 0;
/// @group Helpers
%mrbt  { margin-bottom: 0; }
/// Helpers placeholder float:left;
/// @group Helpers
%transition {
  //@include transition(all $duration-quickly linear);
	-webkit-transition: all $duration-quickly linear;
       -o-transition: all $duration-quickly linear;
          transition: all $duration-quickly linear;
}

/// Image replacement:
/// CSS image replacement is a technique of replacing a text element (usually a header tag) with an image.
/// @group Helpers
%img-rep {
	//@extend %db;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
}

%center-block {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

%cem {
	@extend %fllf;
	width: 100%;
}

//
// especifico
//

%link-default {
	@include ttu;
	font-weight: bold;
	font-size: em(14px);
	line-height: $line-height-reset;
	color: palette(blue, dark);

	@include media('screen', '>small') {
		font-size: em(12px);
	}

	&:hover, &:focus { color: palette(blue, x-dark); }
}

// usado para zera altura e negrito
%txt-prod1 {
	line-height: $line-height-reset;
	font-weight: bold;
}

// title headings
// titulos na home e paginas internas
%title-blocks {
	font-family: $ft1;
	font-size: em(30px);
}

// sub-grid
// 2 colunas
%two-cols {
  @include media('screen', '>small') {
    @include fllf(false);
    width: 47.3%;
    margin-left: 40px;

    &:first-child {
      clear: both;
      margin-left: 0;
    }
  }
}

// 3 colunas
%three-cols {
  @include media('screen', '>small') {
    @include fllf(false);
    width: 30.99%;
    margin-left: 40px;

    &:nth-child(3n+1) {
      clear: both;
      margin-left: 0;
    }
  }
}





