//
// Custom variables
//
// - Helpers
// - Colors
// - Typography
// - Components
// - Fonts
// - Sizes
// - Navbar
// - Navs
// - List group
// - Tables
// - Defaults
// - Time
// - Form states and alerts
// --------------------------------------------------

//== Helpers
$i:           !important;
$t:           transparent;
$n:           none;
$in:          initial;
$ih:          inherit;
$imgPath:     '../image';
$imgPathIcon: '../image/icons';

//== Colors
//

/// Black and white colors
/// @group Colors
/// @prop {Color} $white   [rgb(255, 255, 255)]
/// @prop {Color} $black   [rgb(0, 0, 0)]
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$gray-bg: rgb(232,232,232);

/// Basic gradients
/// @group Colors
/// @prop {Mixin} $gradient-white
/// @prop {Mixin} $gradient-black
$gradient-white: sg-gradient(to bottom, $t 50%, rgba($white, .2));
$gradient-black: sg-gradient(to bottom, $t 50%, rgba($black, .2));

/// @group Colors
/// @prop {Color} x-dark    [rgb(62, 48, 0)]
/// @prop {Color} dark      [rgb(151, 117, 8)]
/// @prop {Color} mid-dark  [rgb(235, 180, 2)]
/// @prop {Color} base      [rgb(245,187,0)]
/// @prop {Color} mid-light [rgb(255, 240, 192)]
/// @prop {Color} light     [rgb(255, 231, 154)]
/// @prop {Color} x-light   [rgb(255, 249, 230)]
$palettes: (
	blue: (
		x-dark: rgb(58,60,63),
		dark:  rgb(54,64,83),
//		mid-dark: rgb(235, 180, 2),
		base:  rgb(105,126,169),
//		mid-light: rgb(255, 240, 192),
		light: rgb(133,136,141)
//		x-light: rgb(255, 249, 230)
	),
	red: (
//		dark:  rgb(15, 12, 13),
//		mid-dark: rgb(175, 169, 147),
		base:  rgb(160,79,79)
//		mid-light: rgb(103, 98, 100),
//		light: rgb(211, 208, 198)
	)
);

/// Logo colors for Bootstrap
/// @group Colors
/// @prop {Functions} $brand-primary [darken($cl2, 6.5%)]
$brand-primary:      darken(map-get(map-get($palettes, blue), dark), 6.5%);

//** Background color for `<body>`.
$body-bg: rgb(243,243,243);

/// Links colors
/// @group Colors
/// @prop {Variable} $link-color [$cl2]
/// @prop {Variable} $link-hover-color [$brand-primary]
$link-color:         map-get(map-get($palettes, red), base);
$link-hover-color:   $brand-primary;


//== Typography

/// Font family and font archive variables for generate the font-face
/// @group Typography
/// @prop {String} $ft1 [Whitney-Medium] - Font family
/// @prop {String} $fta1 [Whitney-Medium] - Font archive
/// @prop {String} $ft2 [Whitney-BlackSC] - Font family
/// @prop {String} $fta2 [Whitney-BlackSC] - Font archive
/// @example scss
///   $ft1  : "ft-family";
///   $fta1 : 'ft-archive';
$ft1  : "dekarregular";
$fta1 : 'dekar-webfont';

$ft2  : "droid_sansregular";
$fta2 : 'droidsans-webfont';

$ft3  : "droid_sansbold";
$fta3 : 'droidsans-bold-webfont';

/// @group Typography
/// @prop {Variable} $headings-font-family [$ft1] - Font family for all headings
//$headings-font-family: $ft1;

$CONTEXT_FONT_SIZE: 16px;

/// Sizes
/// @group Typography
/// @author Brad Frost
/// @prop {Number} $t-pp [.750em]
/// @prop {Number} $t-p [.875em]
/// @prop {Number} $t-m [1em]
/// @prop {Number} $t-g [1.5em]
/// @prop {Number} $t-gg [1.875em]
$t-pp: .750em;
$t-p: .875em;
$t-m: 1em;
$t-g: 1.5em;
$t-gg: 1.875em;

/// Line height default from the Bootstrap
/// @group Typography
/// @prop {Number} $line-height-text [1.375]
/// @prop {Number} $line-height-reset [1]
$line-height-text: 1.5;
$line-height-reset: 1;


$breakpoints: (
		xsmall: 480px,
    small: 768px,
    medium: 992px,
	  large: 1200px
);


//== Navbar
//
//##
$navbar-margin-bottom:  $in;

$navbar-default-color:  $in;
$navbar-default-bg:     $t;
$navbar-default-border: $t;

// Navbar toggle
$navbar-default-toggle-hover-bg:     #ddd !default;
$navbar-default-toggle-icon-bar-bg:  #888 !default;
$navbar-default-toggle-border-color: #ddd !default;


//== Navs
//
//##

//=== Shared nav styles
$nav-link-padding:  $in;
$nav-link-hover-bg: $in;


//== Components
$border-radius-circle: 50%;


//== List group
//** Background color on `.list-group-item`
$list-group-bg: $t;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.
//** Background color used for `.table-striped`.
$table-bg-accent:       rgba($white, .7);
//** Background color used for `.table-hover`.
//$table-bg-hover:        rgba($cl2, .05);

//** Border color for table and cell borders.
$table-border-color:    rgba($black, .1);


//== Defaults
$space:                 1em;
$space-and-half:        $space*1.5;
$space-double:          $space*2;
$space-quad:            $space*4;
$space-half:            $space/2;
$pad:                   1em;
$pad-and-half:          $pad*1.5;
$pad-double:            $pad*2;
$pad-half:              $pad/2;
$pad-quarter:           $pad/4;


//== Time
$duration-instantly:    0s;
$duration-immediately:  0.05s;
$duration-quickly:      0.1s;
$duration-promptly:     0.2s;
$duration-slowly:       0.4s;
$duration-paused:       3.2s;


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text: map-get(map-get($palettes, blue), x-dark);
//$state-success-bg: #B9FBBB;
//
$state-info-text: map-get(map-get($palettes, blue), x-dark);
//$state-info-bg: #90BAFF;
//
$state-warning-text: map-get(map-get($palettes, blue), x-dark);
//$state-warning-bg: #FFBC4C;
//
$state-danger-text: map-get(map-get($palettes, blue), x-dark);
//$state-danger-bg: #F68880;




