//
// Reset DEV
// classes EDV-Front-end e
// extendendo as classes do bootstrap/scaffolding
// --------------------------------------------------

//html { font-size: $in; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
	font-family: $ft2;
	font-size: 100%;
	line-height: em(24px);
	font-weight: 400;
	color: palette(blue, x-dark);
}

img { @include img-responsive; }

svg {
	@include dib;
	height: auto;
	overflow: hidden;
	width: 100%;
}

a {
	@include transition(all $duration-quickly linear);

	&:hover,
	&:focus { text-decoration: none; }
}




// GLOBAL CLASSES
.cf         { @extend %clearfix; }
.fllf       { @extend %fllf; }
.flrg       { @extend %flrg; }
.mrlf       { @extend %mrlf; }
.mrbt       { @extend %mrbt; }
.transition { @extend %transition; }
.dn         { @extend %dn; }
.db         { @extend %db; }
.dib        { @extend %dib; }
.ttu        { @extend %ttu; }


::-moz-selection {
  color: $white;
  background: map-get(map-get($palettes, red), base);
  text-shadow: $n;
}

::selection {
  color: $white;
  background: map-get(map-get($palettes, red), base);
  text-shadow: $n;
}
