//
// @themes theme
//
// --------------------------------------------------

.logged-in.page-user {

  h1, h2, h3, h4, h5, h6 { font-family: $ft1; }

  .nav-tabs > li.active > a { background-color: $white; }

  .block-system:not(.block-menu) {
    padding: 25px;
    margin: 0 15px;
    background-color: $white;
  }

  .view-filters {
    padding-bottom: 20px;
    border-bottom: 1px solid palette(blue, x-dark);
    margin-bottom: 20px;
  }

  .block-system .views-exposed-widget { margin-right: 15px; }

  .views-submit-button .form-submit { height: 40px; }

  .view-empty {
    @include db;
    font-family: $ft1;
    font-size: em(22px);
    color: $white;
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
    padding: 15px;
    background: palette(blue);
    border-radius: 5px;
  }
}

.profile {

  h3 { margin-top: 0; }

  .field { margin-bottom: 10px; }
}

#user-profile-form {

  .panel-heading {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.page-user-support-tickets {

  #edit-date-filter-wrapper {
    width: 100%;
    margin-bottom: 15px;
  }

  .views-widget,
  #edit-date-filter-min-wrapper,
  #edit-date-filter-max-wrapper,
  .description { @include dib; }

  #edit-date-filter-min-wrapper,
  #edit-date-filter-max-wrapper { margin-right: 15px; }
}

#views-exposed-form-my-subscription-page,
#views-exposed-form-my-classroom-subscriptions-page {

  .views-submit-button {

    @include media('screen', '>small') {
      margin-top: 30px;
    }
  }
}
