//
// @themes theme
//
// --------------------------------------------------

// title headings
.block-title {
	@extend %title-blocks;
	@include ttu;
	color: palette(blue, light);
	margin-top: 0;
	margin-bottom: 20px;
}

// not-front
// .wrapper-page-header
.page-header {
	@extend %title-blocks;
	color: palette(blue, dark);
	text-align: center;
	max-width: 700px;
	padding-bottom: 0;
	border-bottom: 0;
	margin: 0 auto;
}


.main-container { margin-bottom: 60px; }

.front {

	.main-content > .row {
		margin-left: 0;
		margin-right: 0;
	}

	.main-content > .row > .col-sm-12 {
		padding-left: 0;
		padding-right: 0;
	}

	.region-content { margin-bottom: 60px; }
}

.not-front {

	.region-content { @extend .row; }
}


// region top
// menu cursos + banner
#page-header {
	background-color: palette(blue, dark);
	margin-bottom: 60px;
}


// front
// regiao de galeria de fotos e noticias
.wrapper-content-bottom {
	position: relative;
	overflow: hidden;

	&::after {
		content: '';
		@include db;
		@include size(50%, 100%);
		background-color: $gray-bg;
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
	}
}

// front
// regiao de galeria de fotos e noticias
.region-content-bottom {

	.wrapper-content-bottom > & {
		@extend .container;
		background-color: $gray-bg;
	}

	> .block-views {
		@include media('screen', '>small') {
			@include fllf(false);
			width: 47.3%;
			margin-left: 40px;

			&:first-child { margin-left: 0; }
		}
	}
}


// not-front
// cabecalho paginas internas
.wrapper-page-header {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 40px;
	background-color: $white;
}

// *****
// pages
// paginas internas
// *****

.region-content {

  .block-system {

    .node-type-page &,
    .page-portarias &,
    .node-type-webform &,
    .page-contact & { @extend .col-sm-8; }

//    .page-user & {
//      @extend %clearfix;
//      margin: 0 auto;
//      max-width: 700px;
//      padding: 15px;
//      background: $white;
//      border-radius: 5px;
//
//      @include media('screen', '<=small') {
//        max-width: 92%;
//      }
//    }
  }
}

.node-type-page {

  tr td:last-child { border-right: 0; }
}

// pages
// solicitacao
.node-type-webform .form-item { @extend .form-group; }

// pagina de checkout
.ajax-progress {
  width: 20px;
  height: 10px;
  margin-right: 10px;
  position: relative;

  i {
    @include centerer(left);
    top: -3px;
    line-height: .9;
    animation: rotateIn linear .5s infinite;
  }
}

// pages
// paginas de login/registro/password
// usuario nao logado
.toboggan-unified,
#user-pass {
  @extend %clearfix;
  margin: 0 auto;
  max-width: 700px;
  padding: 15px;
  background: $white;
  border-radius: 5px;

  @include media('screen', '<=small') {
    max-width: 92%;
  }
}
