//
// @themes theme
// @componentes buttons
//
// --------------------------------------------------

.btn-default {
  @extend %transition;
  @include ttu;
	color: palette(blue);
  border: 2px solid palette(blue);
  background-color: $t;

  &:hover, &:focus {
    border-color: palette(blue);
    background-color: $white;
  }
}

// button inscricao
.commerce-add-to-cart .form-submit {
	@extend %transition;
	@include ttu;
	color: palette(blue);
	padding-left: 35px;
	border: 2px solid palette(blue);
	background: url('#{$imgPathIcon}/icon-nextblue.svg') 10px center no-repeat;
	background-color: $t;
	background-size: auto 30%;

	&:hover, &:focus {
		padding-left: 25px;
		background-color: $white;
	}
}

.btn-danger {

  // cart checkout
  &.delete-line-item {
    @extend %img-rep;
    @include size(20px);
    padding: 0;
    margin-top: 10px;
    background-image: url('#{$imgPathIcon}/icon-close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 50%;
  }
}

// cart checkout
.commerce-line-item-actions #edit-submit {
  @extend %transition;
  @include ttu;
  color: palette(blue);
  border: 2px solid palette(blue);
  background-color: $t;

  &:hover, &:focus { background-color: $white; }
}

// cart checkout
#edit-checkout {
  @extend %transition;
  @include ttu;
  border: 2px solid palette(blue);
  color: $white;
  background-color: palette(blue);

  &:hover, &:focus { background-color: darken(palette(blue), 5%); }
}

// entrar
.login .btn-default {
  @extend %transition;
  @include ttu;
  color: palette(blue);
  border: 2px solid palette(blue);
  background-color: $t;

  &:hover, &:focus { background-color: $white; }
}

