//
// @themes theme
// @layout cart
// bloco de carrinho de compras no header
//
// - zerar
// --------------------------------------------------

// zerar drupal
.line-item-summary .line-item-quantity {
	float: $in;
}

// zerar drupal
.line-item-summary {
	text-align: $in;
	margin-bottom: $in;
}

// zerar drupal
.line-item-summary .links {
	margin-top: $in;
}

// zerar drupal
.list-inline {
	margin-left: $in;
}

// zerar drupal
.list-inline > li {
	padding-left: 0;
	padding-right: 0;
}

.cart-empty-block {
	min-width: 280px;
	max-width: 375px;
	width: 100%;
	color: palette(red);
	font: em(12px) $ft3;
	padding: 10px 15px;
	border: 2px solid $white;
	border-radius: 20px;
}


#block-commerce-cart-cart {


	@include media('screen', '>small') {
		height: 50px;
	}

	.block-title {
		@include ttu;
		font: em(14px) $ft3;
		color: palette(blue);

		@include media('screen', '>small') {
			@include dib(false);
      vertical-align: top;
      margin-top: 23px;
			margin-bottom: 0;
			margin-right: 15px;
		}
	}

	.cart-contents {
		@include media('screen', '>small') {
			@include dib(false);
		}
	}
}

.view-commerce-cart-block {
	@include transition(all $duration-quickly linear);
	min-width: 280px;
	max-width: 375px;
	width: 100%;
	padding: 10px;
	border: 2px solid $t;
	background-clip: content-box;
	border-radius: 20px;

	&.active {
		border-color: $white;
		position: relative;
    z-index: $zindex-navbar;

		// quantity
		.line-item-quantity-raw {
			background-color: $white;
		}
		.line-item-quantity-label::after {
			transform: rotate(180deg);
		}

		// total
		.line-item-total {
			@extend .sr-only-focusable:focus;
			opacity: 1;
		}

		// buttons
		.links {
			@extend .sr-only-focusable:focus;
			opacity: 1;
		}
	}

	// quantity
	.line-item-quantity {
		color: palette(red);
		cursor: pointer;

		&:hover, &:focus {
			.line-item-quantity-raw { background-color: $white; }
			.line-item-quantity-label { text-decoration: underline; }
		}
	}
	.line-item-quantity-raw {
		@include transition(all $duration-promptly linear);
		@include dib;
		font-weight: bold;
		text-align: center;
		width: 40px;
		padding: 5px;
		border: 2px solid $white;
		border-radius: $border-radius-circle;
	}
	.line-item-quantity-label {
		text-transform: capitalize;

		&::after {
			content: '';
			@include transition(all $duration-promptly linear);
			@include size(10px);
			@include dib;
			margin-left: 5px;
			background: url('#{$imgPathIcon}/icon-down.svg') center no-repeat;
			background-size: 100% auto;
		}
	}

	// total
	.line-item-total {
		@extend .sr-only;
		@include transition(all $duration-slowly linear);
		color: palette(red);
    padding: 10px;
//		border-top: 2px solid $white;
    margin-top: 6px $i;
    background: $gray-bg;
		opacity: 0;
	}
	.line-item-total-label {
		font-size: em(14px);
	}
	//.line-item-total-raw {}

	// buttons
	.links {
		@extend %clearfix;
		@extend .sr-only;
		@include transition(all $duration-slowly linear);
		@include border-bottom-radius(10px);
		opacity: 0;

		// zerar bootstap
		margin-bottom: $in;

		background: $white;
		overflow: hidden;

		li {
			@include fllf;
			width: 50%;
			text-align: center;
		}

		a {
			@extend %link-default;
			@include db;
			padding: 15px 20px;
			border-bottom: 2px solid $t;

			&:hover, &:focus {
				border-bottom-color: palette(blue, x-dark);
			}
		}
	}
}
