//
// @themes theme
// @components cursos
// item unico de curso, bloco que pode ser usado em varios lugares
//
// --------------------------------------------------

// block item
.node {
	// title
	h2 {
		font-size: em(20px);
		margin-top: 0;
		margin-bottom: 15px;

		a {
//			font-size: em(18px);
			font-weight: bold;
			line-height: em(26px, 18px);
			color: palette(blue, dark);

			&:hover, &:focus {
				text-decoration: underline;
			}
		}
	}

	// leia mais
	ul.list-inline { margin-bottom: 0; }

	// bt inscricao
	.commerce-add-to-cart .form-wrapper.form-group { @include dn; }

	> footer { clear: both; }

	// link leia mais
	.node-readmore a { margin-top: 12px; }
}


// tag type course
.field-name-field-classroom-course-type {
	@include ttu;
	font-weight: bold;
	line-height: $line-height-reset;
	margin-bottom: 6px;
	position: relative;

	&::before {
		content: '';
		@include dib;
		@include size(12px, 3px);
		@include centerer(left);
    left: 0;
		background-color: palette(blue, dark);
	}

	.field-items { @include dib; }

  // [especifico]
  .front &,
  .view-courses & {
    font-size: em(10px);
    color: palette(red);
    padding-left: 20px;

    &::before { background-color: palette(red); }
  }
}

.commerce_stock_notifications_fieldset {
  text-align: left;

  p {
    font-size: em(12px);
    line-height: em(20px);
  }

  #edit-notify-submit { @include flrg; }
}

// detalhes
.field-name-field-workload {

  .view-commerce-featured-products &,
  .view-courses &,
  .page-taxonomy & {
    clear: both;
    @extend %txt-prod1;
    @include fllf;
	  color: palette(blue, light);
    width: 100%;
    padding-top: 15px;
    border-top: 1px solid rgba(palette(blue, light), .3);
    margin-top: 15px;
  }
}

// preco
.field-name-commerce-price {
	@extend %txt-prod1;
	@include ttu;
  @include fllf;
  margin-top: 8px;
	font-size: em(18px);
	color: palette(blue);

  .node-type-classroom-course & { font-size: em(30px); }
  .node-type-course & { font-size: em(20px); }
}

// button inscricao
// @components buttons
.commerce-add-to-cart .form-submit {

  &[disabled="disabled"] {
    text-align: left;
    width: 100%;
    border: 0;
    padding: 0;
    background: $n;
  }

  // [especifico]
  // pagina cursos presenciais
  .node-type-classroom-course & {
    font-size: em(18px);
  }
}
