//
// @themes theme
// @components foto
//
// --------------------------------------------------

// slideshow
#views_slideshow_cycle_teaser_section_gallery-block {

	.views-row { position: relative; }

	.views-field-title {
//		@include sg-display($gradient);
		width: 100%;
		min-height: 80px;
		padding: 15px;
		position: absolute;
		bottom: 0;
		background-color: rgba(black, .2);

		@include media('screen', '>small') {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	.views-field-title a {
		font-size: em(18px);
		line-height: em(26px, 18px);
		font-weight: bold;
		color: $white;

		&:hover, &:focus { text-decoration: underline; }
	}
}
