//
// @themes theme
// @components more-link
//
// --------------------------------------------------

// home
// ultimos cursos cadastrados
// link leia mais
.node-readmore a {
	@extend %transition;
	@extend %txt-prod1;
	@include ttu;
	font-size: em(12px);
	padding-left: 15px;
	background: url('#{$imgPathIcon}/icon-nextred.svg') 0 center no-repeat;
	background-size: auto 50%;

	&:hover, &:focus {
		color: darken(palette(red), 10%);
		background-position: 5px center;
	}
}

// home
// cursos destaque
.block-featured-courses > .view-footer a {
	@include ttu;
	font-size: em(12px);
	line-height: em(18px, 12px);
	font-weight: bold;

	&:hover, &:focus { color: darken(palette(red), 10%); }
}

// home
// galeria de fotos
.more-link a {
	@extend %txt-prod1;
	@include ttu;
	font-size: em(12px);
	padding-left: 15px;
	background: url('#{$imgPathIcon}/icon-nextred.svg') 0 center no-repeat;
	background-size: auto 50%;

	&:hover, &:focus {
		color: darken(palette(red), 10%);
		background-position: 5px center;
	}
}
