//
// @themes theme
// @components newsletter
//
// --------------------------------------------------

.block-simplenews {
	max-width: 650px;
	padding: 15px;
	border: 2px solid palette(blue, light);
	margin: 0 15px;

	@include media('screen', '>small') {
		padding: 30px;
		margin-left: auto;
		margin-right: auto;
	}

	.block-title {
		width: 170px;
		position: relative;

		&::after {
			content: 'Receba por e-mail informações sobre lançamentos de cursos, incrições e descontos.';
			@include dib;
			width: 300px;
			font-family: $ft2;
			font-size: 14px;
//			line-height: em(18px, 14px);
			text-transform: $in;

			@include media('screen', '>small') {
				width: 400px;
				position: absolute;
				bottom: 4px;
				margin-left: 15px;
			}
		}
	}
}

.simplenews-subscribe {
	@extend .form-inline;

	.form-item {
		@include media('screen', '>small') {
			width: 86%;
		}
	}

	.control-label {
		font-weight: normal;
		color: palette(blue, light);

		@include media('screen', '>small') {
			width: 13%;
			margin-top: 7px;
		}
	}

	.form-text {

		@include media('screen', '>small') {
			@include flrg(false);
			width: 87%;
		}
	}

	.btn {
		@include flrg;
		@include ttu;
		font-weight: bold;
		color: palette(blue);
	}
}
