//
// @themes theme
// @components noticia
//
// --------------------------------------------------

.view-news,
.view-forum-ideas {

  .views-field-created {
		font-size: em(14px);
		font-weight: bold;
		color: palette(blue, light);
		line-height: $line-height-reset;
		margin-bottom: 6px;
	}

  .views-field-title a {
		color: palette(blue, dark);

		&:hover,
    &:focus { text-decoration: underline }
	}
}


// home
#block-views-news-block {

	.views-row-first {
		.views-field-created { font-size: em(18px) }

		.views-field-title a {
			font-size: em(22px);
			line-height: em(26px, 22px);
		}
	}
}
