//
// @themes theme
// @componentes search
//
// - zerar
// --------------------------------------------------

// zerar vies.css
.views-exposed-widgets {
	margin-bottom: $in;
}

// zerar vies.css
.views-exposed-form .views-exposed-widget .form-submit {
	margin-top: $in;
}

// zerar vies.css
.views-exposed-form .views-exposed-widget {
	padding: $in;
}


#block-views-exp-courses-search-courses {
	width: 100%;
	max-width: 400px;
	margin: 15px 0;

	.views-widget-filter-combine { width: 86%; }

	.views-submit-button {
		@include flrg;
		width: 12%;
	}
}
