//
// @themes theme
// @components socialmedia
//
// --------------------------------------------------

.social-media-block {

  ul {
    @include media('screen', '<=small') {
      display: table;
      margin: 0 auto;
    }
  }

  li {
    @include dib;
    margin-left: 15px;

    &:first-child { margin-left: 0; }
  }
}

a.social-media {
	font-size: em(14px);
	color: palette(red);
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: auto 50%;

   &:hover, &:focus { text-decoration: underline $i; }
}

#facebook-link {
	background-image: url('#{$imgPathIcon}/social-fb.svg');
	padding-left: 17px;
}

#twitter-link {
	background-image: url('#{$imgPathIcon}/social-tw.svg');
	padding-left: 32px;
}

#instagram-link {
	background-image: url('#{$imgPathIcon}/social-it.svg');
	padding-left: 27px;
}
