//
// @themes theme
// @componentes tabs
//
// --------------------------------------------------

div.horizontal-tabs { border: 0; }
.horizontal-tabs ul.horizontal-tabs-list {
  background-color: $t;
  border-right: 0;
}
.horizontal-tabs ul.horizontal-tabs-list { border-bottom: 2px solid $gray-bg; }
.horizontal-tabs ul.horizontal-tabs-list li {
  @extend %transition;
  background: $t;
  border-right: 0;
  padding: $in;
}

.horizontal-tabs ul.horizontal-tabs-list li,
.horizontal-tabs ul.horizontal-tabs-list li a {

  &:hover, &:focus { background-color: $in; }
}

.horizontal-tabs ul.horizontal-tabs-list li.selected {
  background-color: $white;
}
.horizontal-tabs ul.horizontal-tabs-list .selected strong { color: palette(blue); }

.horizontal-tabs fieldset.horizontal-tabs-pane {
  padding: 15px;
}

div.field-group-htabs-wrapper .field-group-format-wrapper {
  height: auto $i;
  padding: $in;
}

.ui-accordion .ui-accordion-content {
  height: auto $i;
  padding: $in;
}

// conteudo programatico
// cursos presenciais
.ui-accordion-content .field-item,
.panel-collapse .field-item {
  margin-bottom: 6px;

  &::before {
    @include triangle($direction: left, $color: palette(blue, light), $size:4px);
    margin-right: 5px;
    margin-bottom: 2px;
  }
}
.field-name-field-sample-video-reference .field-item::before,
.group-course-info .field-item::before,
.group-course-details .field-item::before,
.group-course-price .field-item::before { display: $n $i; }


.ui-helper-reset { line-height: $ih; }

.ui-widget {
  font-family: $ih;
  font-size: $ih;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: palette(red);
  font-size: em(18px);
}
.ui-state-default a:hover,
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: palette(blue, x-dark);
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  @include dn;
}

.ui-accordion .ui-accordion-icons {
  padding-left: 0;
}

.ui-accordion .ui-accordion-header {
  padding: 0;
  margin-top: 0;
  padding-bottom: 8px;
  border-bottom: 2px solid palette(red);
  border-radius: 0;
  margin-bottom: 30px;
}
.ui-accordion .ui-accordion-header-active {
  border-bottom-color: $gray-bg;
}

.ui-widget-content {
  border: $in;
  background: $in;
  color: $ih;
  margin-top: -10px;
  margin-bottom: 20px;
}

.ui-state-default,
.ui-state-active {
  border: $in;
  background: $in;
  font-weight: $in;
  color: $in;
}
