//
// @themes theme
// @pages cart
// pagina do carrinho de compras com o usuario nao logado
//
// --------------------------------------------------

.view-commerce-cart-form {
  @extend .col-sm-12;

  .line-item-summary {
    display: $ih;
    color: palette(blue);

    .line-item-total-raw { font-size: em(20px); }

    @include media('screen', '<=small') {
      text-align: right;
      margin-bottom: 20px;
    }

    @include media('screen', '>small') {
      @include dib(false);
    }
  }

  .commerce-line-item-views-form .commerce-line-item-actions {
    @include media('screen', '>small') {
      @include flrg(false);
    }
  }
}
