//
// @themes theme
// @pages checkout
//
// --------------------------------------------------

.page-checkout {

  // <form>
  #commerce-checkout-form-checkout {
    @extend .col-sm-12;
  }

  #edit-commerce-payment-payment-method {
    color: palette(blue);
    padding: 8px 15px;
    margin-bottom: 20px;
    background-color: $white;
    border-radius: 5px;

    label { font-weight: bold; }
    input { margin-top: 5px; }
  }

  #payment-details {
    @extend .row;
    margin-bottom: 40px;

    > .form-item,
    #card_expiration_wrapper { @extend .col-sm-6; }

    @include media('screen', '>small') {
      > div:nth-child(odd) { clear: left; }
    }


    .paymentDetails-processed {
      @include dib;
      width: 75%;

      @include media('screen', '>small') {
        width: 85%;
      }
    }
    #card-brand {
      @include flrg;
      @include size(80px, 40px);
      background-color: $white;
      background-position: center;
    }
  }

  #card_expiration_wrapper {

    label {
      @include dib;
      margin-right: 15px;
    }
    .form-item {
      @include dib;
      margin-right: 15px;
    }
  }

  .checkout-buttons {
    .panel-body { @include dib; }
  }
}

#commerce-checkout-coupon-ajax-wrapper {
  max-width: 700px;
  padding: 0 15px;
  margin: 0 auto 40px;

  @include media('screen', '>small') {
    .form-item {
      @include dib(false);
      width: 81%;
      margin-right: 10px;
    }

    .btn {
      @include dib(false);
      height: 40px;
      margin-top: -73px;
    }
  }
}
