//
// @themes theme
// @pages curso
//
// cursos presenciais
// .node-type-classroom-course - <body>
// .node-classroom-course - <article>
//
// cursos online
// .node-type-course - <body>
// .node-course - <article>
//
// --------------------------------------------------

.node-type-classroom-course,
.node-type-course {

  .field-name-field-image {
    @extend .col-sm-12;
    margin-bottom: 40px;

    img { width: 100%; }
  }

  .field-name-commerce-price {
    @include dib;
    float: $in;
    margin-top: $in;
  }
}


// cursos presenciais
// estrutura
.node-type-classroom-course {

  .node-classroom-course { position: relative; }

  .field-name-field-classroom-course-type,
  .node-classroom-course .field-name-body,
  .group-course-details,
  .group-content,
  .group-presentation-video {
    @extend .col-sm-8;
    margin-bottom: 40px;
  }

  .field-name-field-classroom-course-type {
    margin-left: 15px;
    margin-bottom: 8px;
  }

  .group-course-price {
    padding: 30px $i;
    margin-bottom: 40px;
    background-color: $white;

    @include media('screen', '>small') {
      width: 30%;
      position: absolute $i;
      top: 55px;
      right: 15px;
    }
  }

  .field-name-field-produto {
    float: $in;
    text-align: $in;
  }

  .field-name-field-annuity-discount { color: palette(blue); }

  .field-name-commerce-stock { color: palette(blue, light); }

  .field-name-field-produto { margin-top: 20px; }

  .group-course-price .field {
    font-weight: bold;
    margin-bottom: 8px;
  }
}

// cursos online
// estrutura
.node-type-course {

  .field-name-field-category,
  .field-name-field-extension {
    @extend .col-sm-4;
    margin-bottom: 20px;

    @include media('screen', '>small') {
      @include flrg(false);
    }
  }

  .field-name-field-extension { clear: right; }

  .node-course .field-name-body {
    @extend .col-sm-8;
    margin-bottom: 40px;

    @include media('screen', '>small') {
      margin-top: -60px;
    }
  }

  .field-group-htabs-wrapper {
    @extend .col-sm-8;
  }

  .group-course-price {
    padding: 15px;
    background-color: $white;
    margin-bottom: 40px;
  }

  .field-name-commerce-price {
    @include dib;
    margin-top: 8px;
  }

  // button incricao gratuita
  .free-subscription {
    @include ttu;
    @include db;
    font-weight: bold;
    color: palette(blue);
    padding: 15px;
    margin-bottom: 40px;
    border: 2px solid #697EA9;
    background: $white;
  }
}


// blocos em cursos online
.field-name-field-category,
.field-name-field-extension,
.group-course-info,
// bloco em cursos presenciais
.group-course-details {

  .field-label {
    float: $n;
    font-size: em(12px);
    color: palette(blue);
  }

  .field-items { font-size: em(18px); }
}





// cursos online
.field-name-field-extension .field-item {
  @include dib;

  &::after {
    content: ',';
    @include dib;
    margin-right: 5px;
    margin-left: 2px;
  }

  &:last-child::after { @include dn; }
}

.field-name-field-sample-video-reference h2 { @include dn; }





// cursos presenciais
// collapse title
.panel-heading {

  // [especifico]
  // cursos online
  .node-type-course & { @include dn }

  padding-bottom: 8px;
  border-bottom: 2px solid $gray-bg;

  .collapsed & { border-bottom-color: palette(red); }
}

// cursos presenciais
// informacoes
.group-course-details .field,
.group-course-info .field {
  @include dib;
  margin-right: 30px;
  margin-bottom: 15px;

  &:last-child { margin-right: 0; }
}


// cursos presenciais
// aviso
.field-name-field-notice {
  clear: both;
  font-size: em(12px);
  line-height: em(18px, 12px);
  text-align: center;
  max-width: 600px;
  padding: 10px;
  border-top: 2px solid palette(red);
  margin: 0 auto;
}
