//
// @themes theme
// @pages galerias
//
// --------------------------------------------------

.flickr-citation { @include dn; }
img.flickr-photoset-img { width: 100%; }

.not-front .view-gallery {
  @extend .col-sm-12;

    .text-center { clear: both; }
}

.not-front div.flickr-photoset-img {
  width: 100%;
  height: 230px;
  overflow: hidden;
  position: relative;

  img {
    @include centerer(both);
  }
}

//.node-type-gallery {
//
//}

.node-gallery {

  header {
    @extend .col-sm-4;

    font-size: em(14px);
		line-height: em(20px, 14px);
		font-weight: bold;
		color: palette(blue, light);
    margin-bottom: 15px;

    @include media('screen', '>small') {
      @include flrg(false);
    }
  }
  .username {
    @include db;
    color: palette(red);
  }

  .field { @extend .col-sm-8; }

  .field-label { @include dn; }
  .flickr-photoset-img { @include dn; }
  .flickr-credit { @include dn; }
}

.field-name-field-flickr-photo .flickr-wrap {
  @include fllf;
  width: 100% $i;
  margin-bottom: 15px;

  @include media('screen', '>small') {
    width: 31% $i;
    margin-left: 26px;
    margin-bottom: 26px;

    &:nth-child(3n+1) {
      clear: both;
      margin-left: 0;
    }
  }
}
