//
// @themes theme
// @pages noticias
//
// --------------------------------------------------

// not-front
//.node-type-news {
//
//}

.node-news.node-teaser,
.node-forum-ideas.node-teaser {
  @extend .col-sm-8;
  margin-bottom: 20px;
}

// not-front
//pagina de leitura
.node-news:not(.node-teaser),
.node-forum-ideas:not(.node-teaser) {

  .field-name-field-name,
  .field-name-field-image,
  header { @extend .col-sm-4; }

  .field-name-body,
  .field-name-field-news-category { @extend .col-sm-8; }

  .field-name-field-name,
  header {
    font-size: em(14px);
		line-height: em(20px, 14px);
		font-weight: bold;
		color: palette(blue, light);
    margin-bottom: 20px;
  }

  .username {
    @include dn;
    color: palette(red);
  }

  .field-name-field-image,
  .field-name-body { margin-bottom: 20px }

  .field-name-field-news-category { clear: both }

  @include media('screen', '>small') {
    .field-name-field-name,
    header { @include flrg(false); }

    .field-name-field-name { clear: both }

    .field-name-field-image {
      @include flrg;
      clear: right;
    }
  }
}
