//
// @themes theme
// @pages portarias
//
// --------------------------------------------------

.page-portarias {

	h3 {
		clear: both;
    margin: 0;

    @include media('screen', '>small') {
      @include fllf(false);
    }
	}

	.block-system .views-row {
    margin-bottom: 20px;

    @include media('screen', '>small') {
      width: 90%;
      @include flrg(false);
    }

		a {
			padding-left: 20px;
			background: url('#{$imgPathIcon}/icon-pdf.svg') 0 center no-repeat;
			background-size: auto 80%;

			&:hover, &:focus {
				text-decoration: underline;
			}
		}
	}

	.block-system .views-row-1 {
		border-top: 1px solid $gray-bg;
    padding-top: 20px;
		margin-top: 20px;
	}
}
